.search-container {
    width: 80%;
    justify-content: space-between;
}

input {
    min-width: max-content;
    display: block;
    flex: 1 1 auto;
}

button,
.search_result {
    transition: all .2s;
    cursor: pointer;
    text-shadow: none;
}

.search_results {
    border: 1px solid white;
}

.search_result {
    cursor: pointer;
    margin: 1rem;
    display: block;
}