.search-container {
    width: 95%;
    justify-content: space-between;
    position: relative;
}

.search-container>* {
    width: 100%;
    height: 100%;
}

input {
    min-width: max-content;
    display: block;
    flex: 1 1 auto;
}

button,
.search_result {
    transition: all .2s;
    cursor: pointer;
    text-shadow: none;
}

.search_results {
    position: absolute;
    border: 1px solid white;
    background-color: rgb(var(--background-end-rgb));
    height: auto;
}

.search_result {
    cursor: pointer;
    margin: 1rem;
    display: block;
}

.new_board > * {
    height: 100%;
}
